Repository spring-projects/spring-batch, pull requests merged in 2020-04, with the labels that each got.

#3653 Use local storage rather than a cookie
  spring-batch-docs/asciidoc/js/DocumentToggle.js
Labels: in: documentation, pr-for: enhancement

#3635 Improve performance in JdbcStepExecutionDao
  spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/JdbcStepExecutionDao.java
Labels: has: backports, in: core, pr-for: enhancement, theme: performance

#3700 Updated spring-doc-resources version
  build.gradle
Labels: in: documentation, type: task

#3697 Meta-annotate @SpringBatchTest with @ExtendWith(SpringExtension.class)
  build.gradle
  spring-batch-test/src/main/java/org/springframework/batch/test/context/SpringBatchTest.java
  spring-batch-test/src/test/java/org/springframework/batch/test/SpringBatchTestJUnit4Tests.java
  spring-batch-test/src/test/java/org/springframework/batch/test/SpringBatchTestJUnit5Tests.java
Labels: in: test, pr-for: enhancement
