Repository spring-projects/spring-batch, pull requests merged in 2021-09, with the labels that each got.

#3977 Fix double "the" typo everywhere in source code
  spring-batch-core/src/main/java/org/springframework/batch/core/JobInterruptedException.java
  spring-batch-core/src/main/java/org/springframework/batch/core/listener/JobParameterExecutionContextCopyListener.java
  spring-batch-infrastructure/src/main/java/org/springframework/batch/item/support/AbstractFileItemWriter.java
  spring-batch-infrastructure/src/main/java/org/springframework/batch/repeat/exception/RethrowOnThresholdExceptionHandler.java
  spring-batch-infrastructure/src/main/java/org/springframework/batch/repeat/exception/SimpleLimitExceptionHandler.java
  spring-batch-integration/src/test/java/org/springframework/batch/integration/item/MessagingGatewayIntegrationTests.java
  spring-batch-samples/src/main/java/org/springframework/batch/sample/domain/trade/internal/TradeProcessor.java
  spring-batch-samples/src/main/java/org/springframework/batch/sample/domain/trade/internal/TradeWriter.java
Labels: pr-for: bug, in: documentation, for: backport-to-4.2.x

#3986 Avoid string conversion in ExecutionContextSerializer tests
  spring-batch-core/src/test/java/org/springframework/batch/core/repository/dao/AbstractExecutionContextSerializerTests.java
Labels: pr-for: enhancement, in: core

#3935 Deprecated support classes against interfaces with default methods
  spring-batch-core/src/main/java/org/springframework/batch/core/listener/ChunkListenerSupport.java
  spring-batch-core/src/main/java/org/springframework/batch/core/listener/JobExecutionListenerSupport.java
  spring-batch-core/src/main/java/org/springframework/batch/core/listener/StepExecutionListenerSupport.java
Labels: pr-for: enhancement, in: infrastructure, in: core
