Repository spring-projects/spring-batch, pull requests merged in 2025-06, with the labels that each got.

#4801 Reuse existing SQL where feasible
  spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/jdbc/JdbcJobExecutionDao.java
  spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/jdbc/JdbcJobInstanceDao.java
Labels: pr-for: enhancement, in: core, for: backport-to-5.2.x

#4793 Add optimistic locking for meta-data deletion
  spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/jdbc/JdbcJobExecutionDao.java
  spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/jdbc/JdbcJobInstanceDao.java
  spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/jdbc/JdbcStepExecutionDao.java
  spring-batch-test/src/main/java/org/springframework/batch/test/JobRepositoryTestUtils.java
Labels: pr-for: feature, in: core, for: backport-to-5.2.x

#4794 Polishing sql files
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-db2.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-derby.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-h2.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-hsqldb.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-mysql.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-oracle.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-postgresql.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-sqlf.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-sqlserver.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/migration/2.2/migration-sybase.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-db2.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-derby.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-h2.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-hana.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-hsqldb.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-mariadb.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-mysql.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-oracle.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-postgresql.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-sqlite.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-sqlserver.sql
  spring-batch-core/src/main/resources/org/springframework/batch/core/schema-sybase.sql
  spring-batch-core/src/test/resources/foo.sql
  spring-batch-core/src/test/resources/football-schema-hsqldb.sql
  spring-batch-core/src/test/resources/org/springframework/batch/core/repository/dao/schema-prefix-hsqldb.sql
  spring-batch-core/src/test/resources/schema-hsqldb-extended.sql
  spring-batch-samples/src/main/resources/org/springframework/batch/samples/common/business-schema-hsqldb.sql
Labels: pr-for: enhancement, in: core

#4792 Improve update sql for optimistic locking
  spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/jdbc/JdbcJobExecutionDao.java
  spring-batch-core/src/main/java/org/springframework/batch/core/repository/dao/jdbc/JdbcStepExecutionDao.java
Labels: pr-for: enhancement, in: core, for: backport-to-5.2.x

#4838 Fix javadoc in JdbcCursorItemReaderBuilder
  spring-batch-infrastructure/src/main/java/org/springframework/batch/item/database/builder/JdbcCursorItemReaderBuilder.java
Labels: pr-for: bug, in: documentation, for: backport-to-5.2.x

#4823 Mark argument to ExitStatus#equals as nullable
  spring-batch-core/src/main/java/org/springframework/batch/core/ExitStatus.java
Labels: pr-for: enhancement, in: core, for: backport-to-5.2.x

#4881 Refactor AOT proxy hints for better type safety
  spring-batch-core/src/main/java/org/springframework/batch/core/aot/CoreRuntimeHints.java
Labels: pr-for: enhancement, in: core, related-to: native
